<div class="mx-auto logo-size">
  <img class="card-img-top" src="assets\img\logo_splatoon2.png" alt="ロゴ">
</div>
<br>
<div class="row mb-5">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <h5 class="card-header">{{ matchConfig.value }}（{{ targetName }}）</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th class="panel-th-width" scope="row">ルール</th>
                <td><a href="{{ battleTypeLink }}" target="_blank" rel="noopener noreferrer">{{ gridData[0]?.rule }}</a></td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">開始時刻</th>
                <td>{{ gridData[0]?.start | date: 'HH時mm分' }}</td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">終了時刻</th>
                <td>{{ gridData[0]?.end | date: 'HH時mm分' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mb-5" *ngFor="let item of gridData[0]?.maps_ex; index as i">
    <div class="card card-size mx-auto">
      <img class="card-img-top" src="{{ item.image }}" alt="item.name">
      <div class="card-body bg-primary text-white">
        <h5 class="card-title">{{ item.name }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-1">
  <div class="col-sm-12 col-md-12">
    <!-- <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ステージ名</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onClickTableRow(item)" *ngFor="let item of gridData[0]?.maps; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="float-left">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link f-size-mini" href="javascript:void(0)" aria-label="現在" (click)="onClickTargetBtn(appConsts.NOW_PATH)">
              <span aria-hidden="true">{{ appConsts.NOW_NAME }}</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link f-size-mini" href="javascript:void(0)" aria-label="次" (click)="onClickTargetBtn(appConsts.NEXT_PATH)">
              <span aria-hidden="true">{{ appConsts.NEXT_NAME }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="float-right">
      <select class="form-control" [(ngModel)]="matchConfig.path" (change)="onClickMatchLst()">
        <option *ngFor="let item of appConsts.MATCH_TYPE_LIST" [(value)]="item.path">
          {{ item.value }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <button type="button" class="btn btn-outline-secondary" routerLink="spl-schedule">現在～24時間後のスケジュールを表示</button>
  </div>
</div>

