<h2>スプラトゥーン2</h2>
<br>
<div class="row mb-5">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <h5 class="card-header">{{ matchTypeName }}（{{ targetName }}）</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th class="panel-th-width" scope="row">ルール</th>
                <td><a href="{{ battleTypeLink }}" target="_blank" rel="noopener noreferrer">{{ gridData[0]?.rule }}</a></td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">開始時刻</th>
                <td>{{ gridData[0]?.start | date: 'HH時mm分' }}</td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">終了時刻</th>
                <td>{{ gridData[0]?.end | date: 'HH時mm分' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mb-3" *ngFor="let item of gridData[0]?.maps_ex; index as i">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ item.image }}" alt="item.name">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-sm-12 col-md-12">
    <!-- <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ステージ名</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onClickTableRow(item)" *ngFor="let item of gridData[0]?.maps; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="float-left">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link f-size-mini" href="javascript:void(0)" aria-label="現在" (click)="onClickTargetBtn(appConsts.NOW_PATH)">
              <span aria-hidden="true">{{ appConsts.NOW_NAME }}</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link f-size-mini" href="javascript:void(0)" aria-label="次" (click)="onClickTargetBtn(appConsts.NEXT_PATH)">
              <span aria-hidden="true">{{ appConsts.NEXT_NAME }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="float-right">
      <button class="btn btn-success f-size-mini mr-1" (click)="onClickMatchBtn(appConsts.REGULAR_PATH)">{{ appConsts.REGULAR_NAME }}</button>
      <button class="btn btn-danger f-size-mini" (click)="onClickMatchBtn(appConsts.GACHI_PATH)">{{ appConsts.GACHI_NAME }}</button>
    </div>
  </div>
</div>

