<h2>スプラトゥーン2</h2>
<br>
<div class="row mb-5">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <h5 class="card-header"></h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th class="panel-th-width" scope="row">ルール</th>
                <td>Mark</td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">開始時刻</th>
                <td>Jacob</td>
              </tr>
              <tr>
                <th class="panel-th-width" scope="row">終了時刻</th>
                <td>Jacob</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-sm-12 col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onClickTableRow()">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="現在">
            <span aria-hidden="true">現在</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0)" aria-label="次">
            <span aria-hidden="true">次</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-1">
    <button class="btn btn-danger">ガチマッチ</button>
  </div>
  <div class="col-md-4 mb-1">
    <button class="btn btn-success">レギュラーマッチ</button>
  </div>
</div>
